/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/core/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
storage/app/assets/*
storage/app/result.txt
test_payvibe.php
testdb.php
debug_payvibe.php
payveibe-recrense/
Archive.zip
.DS_Store
error_log
*.sql
*.md
